html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 2em;
    user-select: none;
}
#container{
    display: grid;
    min-width: 400px;
    min-height: 400px;
    width: 40%;
    height: 80%;
    background: #333;
    margin: 40px auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    border: 11px solid black;
    
    
}
#container>div:hover{
    background-color: beige;
}
#container *
{
  
    text-align: center;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(139, 143, 147, 0.47);
    
}
