
.container{
    display: flex;
    flex-flow: row wrap;
    width: 600px;
    height: 400px;
    margin: 120px auto;
    font-family: sans-serif;
    border: 1px solid black;
    background-color:#AAA;
  
}
.container *{
    display: flex;
    border: 1px solid black;
    flex-basis: 98px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    
}
.block{
    background-color: gray;
}
.block2{
    background-color: lightgreen;
}
.block5{
    background-color: lightgreen;
}



